<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/scripts/categories-load.js"></script>
    <script src="/scripts/db-update.js"></script>

    <title>Анекдоты localhost :)</title>
</head>
<body>
    {{>header}}
    <main>

        <div id="categories">
            <ul class="categories_list" id="categories_list">

            </ul>
        </div>
        <br>
        <p>Обновить базу анекдотов на сервере? Будут загружены все анекдоты с сайта  https://anekdoty.ru. Это может занять некоторое время. </p>
        <button id="get-jokes-button">Загрузить</button>

    </main>

</body>
</html>
