<header>
    <div id="header-content">
        <h1>Анекдоты localhost :)</h1>
        <div id="header-content"><a href="/signin" class="auth-button">Войти</a>
            <a href="/signup" class="auth-button">Зарегистрироваться</a>
            <a href="/signout" class="auth-button">Выйти</a>
        </div>
    </div>
</header>